.advantages{
    min-height: 650px;
    padding: 70px 0;
    background-color: #F6F6F6;
    &__items {
        display: flex;
        justify-content: space-between;
        margin-top: 90px;
        width: 100%;
    }
    &__item {
        width: 275px;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
    }
    &__logo{
        max-width: 70px;
        img{
            width: 100%;
        }
    }
    &__label {
        margin-top: 30px;
        color: #0D0D0D;
        font-size: 18px;
        font-weight: 700;
    }
    &__descr {
        margin-top: 20px;
        color: #0D0D0D;
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
        span {
            color: #F00;
            text-decoration-line: underline;
        }
    }
}